.skills__container{
    row-gap: 2rem;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2,1fr);
    }
}

.skills__subtitle{
    font-size: $h3-font-size;
    text-transform: uppercase;
    color: $first-color-dark;
    margin-bottom: $mb-2;
}

.skills__data{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    margin: 0 $mb-1;
    margin-bottom: $mb-4;
}

.skills__name{
    text-transform: uppercase;
    font-family: $body-font;
    font-weight: 500;
    line-height: 1.6;
    color: $first-color;
    cursor: pointer;
}

.skills__name::after{
    @media screen and (min-width: 768px) {
        content: "";
        left: 0;
        width: 0;
        bottom: -.2rem;
        height: .125rem;
        background-color: $text-color;
        transition: .5s;
    }
  
}
.skills__name:hover:after{
    @media screen and (min-width: 768px) {
        position: absolute;
        width:100%;
    }
}